<h1><%= @wiki.title %></h1>
<p>Last updated at: <%= @wiki.updated_at %></p>
  <% if @wiki.private %>
    <h3><%= "Private" %></h3>
  <% else %>
    <h3><%= "Public" %></h3>
  <% end %>

<div class="row">
    <div class="col-md-8">
        <p><%= @wiki.body %></p>
    </div>
    <%= render partial: "wikis/private" %>
</div>
